* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a[href^="tel"] {
  text-decoration: inherit;
  font-weight: bold;
  color: #894fab;
  transition: all 0.05s ease;
}

body {
  background-color: white !important;
  height: 100vh;
}

nav {
  color: white;
  background-color: #894fab;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  transition: all 0.5s ease;
  z-index: 2;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.logo {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100px;
}

.head-title {
  padding-left: 15px;
  font-weight: 400;
}

.nav-links {
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.nav-links li {
  padding: 15px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
}

.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.burger div {
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.help-top {
  border: solid 2px white;
  border-radius: 30px;
  padding: 10px 15px !important;
  font-weight: 500 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}

.help-top:hover {
  color: #000000;
  background-color: white;
}

.banner {
  display: none;
}

.banner marquee {
  color: white;
  background-color: #d52c1f;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.banner a {
  color: inherit;
  text-decoration: underline;
}

.spLink {
  width: 100%;
  padding: 25px 0 0;
}

.spLink a {
  padding: 0px 40px;
  color: #894fab;
}

.calcWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 76vh;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qbcalcForm {
}

.weatherWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.weatherwidget-io {
  width: 95%;
  margin: 20px !important;
  pointer-events: none;
  cursor: default;
}

#radar {
  width: 95% !important;
  height: 60vh !important;
  padding: 20px 10px !important;
}

section h1 {
  font-size: 36px;
}

.error {
  min-height: calc(100vh - 198px) !important;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error > div {
  padding: 18px;
}

.errorIcon img {
  height: 140px;
  width: auto;
  transform: translateY(40px);
  z-index: -1;
}

.text-section,
.btn-section {
  z-index: 1;
}

.text-section h3 {
  font-weight: lighter;
}

.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-section .btn {
  margin: 8px;
}

.cta-wrapper {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.cta-bubble {
  background: #1982fc;
  border-radius: 30px;
  width: auto;
  max-width: 500px;
  height: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.cta-text {
  padding: 20px;
  text-align: left;
  color: white;
}

.cta-text a {
  color: white;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  transition: all 0.5s ease;
}

.btn {
  background-color: #894fab;
  width: 260px;
  border: 2px solid #894fab;
  color: white;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: all ease 0.2s;
}

.btn:hover {
  background: #fff;
  color: #894fab;
  border: 2px solid #894fab;
}

.welcome {
  padding: 25px;
  height: 400px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: grayscale();
  -webkit-backdrop-filter: grayscale();
  background-image: url("/classroom-teacher-with-students.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 20% center;
  position: relative;
}

.welcome::after {
  content: "";
  background: rgba(000, 000, 000, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.welcome > * {
  margin: 10px;
}

.title {
  font-size: 2.4em;
}

.message {
  font-size: 1.6em;
  text-align: center;
}

.faq {
  padding: 40px 40px 0;
}

.faq-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 85%;
}

/*disable modal pop-up*/
.modal{
  display: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2.5rem;
  width: clamp(26%, 400px, 88%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
}

.modal-title {
  margin-top: 14px;
}

.modal-body::before {
  content: "\f53d";
  font-family: "Font Awesome 5 Free";
  padding: 8px;
  color: #47d147;
  font-size: larger;
}

.modal-btn {
  margin: 22px;
}

.modal-title, .modal-body, .modal-terms, .modal-btn {
  padding: 8px;
}

.close-button {
  position: fixed;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  top: 32px;
  right: 38px;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.statement {
  padding: 20px 40px 30px;
}

.statement .title {
  font-size: 15px;
  padding: 20px 0;
}

.app-wrap {
  padding: 20px 40px;
}

.form-wrapper {
  padding: 40px 10px;
  z-index: 1;
}

.form-wrapper a {
  font-weight: bold;
}

.quick-help {
  width: auto;
  height: auto;
  background-color: #fff;
  color: rgb(102, 102, 102);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.quick-help h1 {
  padding: 20px 10px 10px 10px;
}

.quick-help .qh-icons {
  padding: 20px;
  display: flex;
  overflow-wrap: normal;
}

.quick-help .qh-icons > div {
  padding: 10px;
}

.quick-help .icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  overflow-wrap: break-word;
  text-align: center;
}

.quick-help .icon-block .icon {
  height: 125px;
  width: 125px;
  padding-bottom: 8px;
}

.ticket-cta {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #a1e68d;
}

.ticket-cta h1 {
  padding: 20px 10px 30px 10px;
}

.ticket-cta .btn {
  font-size: 16px;
}

.alt-cta {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2% 10%;
  color: rgb(102, 102, 102);
}

.alt-cta h3 {
  font-weight: lighter;
  width: 100%;
}

.alt-cta a {
  color: #894fab;
  text-decoration: none;
}

.blank {
  height: 200px;
}

.footer .copyright-text a {
  color: #894fab;
  padding: 0px 2px;
  text-decoration: none;
}

.footer .copyright-text a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 971px) {
  .tab-label:hover {
    background: #894fab;
    color: #fff;
  }
}

@media screen and (max-width: 970px) {
  html,
  body {
    transition: all 0.5s ease;
  }

  .overflow {
    position: relative;
    overflow-x: hidden !important;
    overflow-y: scroll;
    transition: all 0.5s ease;
  }

  .head-title {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    position: absolute;
    z-index: 100;
    right: 0px;
    height: 100vh;
    width: 260px;
    top: 0vh;
    padding-top: 20px;
    background-color: #894fab;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }

  .nav-links li {
    width: 188px;
    text-align: left;
    padding: 9.75px 0px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 2px;
  }

  .burger {
    display: block;
    transition: all 0.5s ease;
  }

  .errorIcon img {
    transform: translateY(20px);
  }

  .tabs {
    width: 100%;
  }

  .tab-label:active {
    background: #894fab !important;
    color: #fff;
  }

  .btn-section {
    flex-direction: column;
  }

  .cta-wrapper {
    flex-direction: column;
  }

  .quick-help h1,
  .ticket-cta h1 {
    text-align: center;
    font-size: 28px;
  }

  .qh-icons {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
    width: 100%;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .alt-cta {
    font-size: 14px;
    padding: 8%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-active {
  height: 100vh !important;
  overflow-y: hidden !important;
  transition: all 0.5s ease;
}

.body-slide {
  transform: translateX(-260px);
  transition: all 0.5s ease;
}

.slide-reverse {
  transform: translateX(260px);
  transition: all 0.5s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  transition: all 0.5s ease;
}

.toggle .line2 {
  opacity: 0;
  transition: all 0.35s ease;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  transition: all 0.5s ease;
}

.lessthan {
  position: absolute;
}

/* footer styling */

a[href^=tel] {
  text-decoration:inherit;
  color: #894FAB;
  transition: all .05s ease-in-out;
}
 
a[href^=tel]:hover {
  text-decoration:inherit;
  color: white;
}

body{
   background-size: cover;
}

.parent{
   color: white;
   background-color: #292c2f;
   background-size: cover;
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
}

.child1{
   display: flex;
   flex-direction: column;
   flex: 2 1 300px;
   padding: 10px;
   height: 100%;
   min-height: 380px;
   align-items: center;
   align-self: center;
   justify-content: center;
}
 
.child1 .map{
 margin-top: 20px;  
   border-radius: 15px !important;
}

.child1 .footer-nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px 0;
   align-items: baseline;
}

.child1 .footer-nav a{
   padding: 5px;
   font-size: 18px;
}
 
.child1 .footer-nav h3{
 color: white; 
   transition: all 0.5s ease-in-out;
}

.child1 .footer-nav a , .copyright-text a{
   color: white;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.child1 .copyright-text a:hover{
   color: #894FAB;
   cursor: pointer;
}
 
.child1 .footer-nav a:hover{
 color: #894FAB;
   cursor: pointer;
}

.child1 .copyright-text{
   color: #999;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 20px 10px;
   font-size: 14px;
}

.child1 .copyright-text a{
   color: #999;
}

.child2{
   display: flex;
   flex: 1 1 300px;
   align-self: center;
   height: 100%;
   padding: 20px;
   align-items: center;
   justify-content: center;
   font-size: 20px;
}

.child2 table{
   width: 80%;
   display: flex;
   align-self: center;
   justify-content: center;
   margin: auto;
   border-collapse: separate;
   border-spacing: 8px;
}
 
.child2 .lt-col{
   width: 20px;
   height: 30px;
   padding-right: 15px;
}

.child2 i{
   background-color: rgba(136, 136, 136, 0.5);
   border-radius: 20px;
   width: 40px;
   height: 40px;
   padding-top: 25%;
   align-self: center;
   text-align: center;
   
}

.child2 p{
   align-self: flex-start;
   text-align: left;
}

.child2 .rt-col{
   width: 30px;
   height: 30px;
   padding-right: 20px;
}

.child2 .address p{
   font-weight: regular;
}

.child2 .address span{
   font-weight: bold;
}

.child2 .phone p{
   font-weight: bold;
}

.child2 .email a{
   font-weight: medium;
   text-decoration: none;
   color: #894FAB;
   transition: all 0.5s ease-in-out;
}

.child2 .email a:hover{
   color: white;
}

.child3{
   display: flex;
   flex-direction: column;
   flex: 1 1 300px;
   align-self: center;
   height: 100%;
   align-items: center;
   justify-content: center;
   text-align: right;
}

.child3 h3{
   justify-content: flex-end;
   height: auto;
   width: 100%;
   padding: 10px;
   color: white;
}

.child3 p{
   height: auto;
   width: 100%;
   padding: 10px;
   color: #999;
}

.child3 .about-text a{
   color: #999;
}

.child3 .about-text .a-text-link{
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s ease;
}

.child3 .about-text .a-text-link:hover{
   color: #894FAB;
}

.child3 .rt-icons{
   display: inline-block;
   text-align: center;
   padding: 20px;
}

.child3 .rt-icons a{
   display: inline-block;
   width: 35px;
   height: 35px;
   padding: 10px;
   background-color: rgba(136, 136, 136, 0.5);
   transition: all 0.5s ease-in-out;
   border-radius: 5px;
   cursor: pointer;
}

.child3 .rt-icons i{
   transition: all 0.5s ease-in-out;
   color: white;
   width: 35px;
   height: 35px;
   margin: auto;
   position: absolute;
   transform: translate(-50%, 0);
}

.child3 .rt-icons a:hover{
   transform: scale(1.5);
   background-color: rgba(255, 255, 255, 1);
   color: #894FAB;
}

.child3 .rt-icons i:hover{
   color: #894FAB;
}

@media screen and (max-width: 970px){
.parent {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   height: 100%;
   background-size: cover;
}
 
.child1 .map{
   margin-top: 20px;
}
 
.child1 .copyright-text{
 padding-top: 30px;  
}

.child3 .about , .about-text{
   text-align: center;
}

}

@media screen and (max-width: 375px){
.child2 .email{
   font-size: 16px;
}
 
}
